<h2 mat-dialog-title>Delete all</h2>
<mat-dialog-content>
    <form [formGroup]="form" #updateInventory="ngForm" (ngSubmit)="onSubmit(updateInventory)">
        <br>

        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Item ID </label>
                <div class="col-sm-8 mx-auto">
                    <input type="string" class="form-control" id="item_id" formControlName="item_id" required *ngIf="curField"
                        [ngModel]="curField.data.item_id" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.item_id.errors }"
                        disabled>
                    <div *ngIf="formSubmitAttempt && f.item_id.errors" class="invalid-feedback">
                        <div *ngIf="f.item_number.errors.required">Item number is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Item Name </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" id="name" class="form-control" formControlName="name" required *ngIf="curField"
                        [ngModel]="curField.data.name" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.name.errors }">
                    <div *ngIf="formSubmitAttempt && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Item name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Origin of Product </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" id="productOrigin" formControlName="origin" placeholder="State, Country (E.g. ON, Canada)"
                        *ngIf="curField" [ngModel]="curField.data.origin" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.origin.errors }">
                    <div *ngIf="formSubmitAttempt && f.origin.errors" class="invalid-feedback">
                        <div *ngIf="f.origin.errors.required">Product origin is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Date of Arrival </label>
                <div class="col-sm-8 mx-auto">
                    <input #formDate type="date" class="form-control" formControlName="date_arrived" id="date_arrived"
                        required name="dp1" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" *ngIf="curField"
                        [ngModel]="curField.data.date_arrived" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.date_arrived.errors }">
                    <div *ngIf="formSubmitAttempt && f.date_arrived.errors" class="invalid-feedback">
                        <div *ngIf="f.date_arrived.errors.required">Arrival date is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Weight </label>
                <div class="col-sm-8 mx-auto">
                    <input type="number" class="form-control" id="totalWeight" formControlName="total_weight" required
                        *ngIf="curField" [ngModel]="curField.data.total_weight" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.total_weight.errors }">
                    <div *ngIf="formSubmitAttempt && f.total_weight.errors" class="invalid-feedback">
                        <div *ngIf="f.total_weight.errors.required">Total weight is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Price </label>
                <div class="col-sm-8 mx-auto">
                    <input type="number" class="form-control" id="price" formControlName="price" required *ngIf="curField"
                        [ngModel]="curField.data.price">
                    <div *ngIf="formSubmitAttempt && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Price is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Device ID </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" id="monitoredBy" formControlName="device_id" required disabled
                        *ngIf="curField" [ngModel]="curField.data.device_id">
                    <div *ngIf="formSubmitAttempt && f.device_id.errors" class="invalid-feedback">
                        <div *ngIf="f.device_id.errors.required">Monitored By is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-md-3 control-label mx-auto"> Location </label>
                <div class="col-sm-8 mx-auto">
                    <input type="text" class="form-control" id="location" formControlName="location" placeholder="Aisle No."
                        required *ngIf="curField" [ngModel]="curField.data.location">
                    <div *ngIf="formSubmitAttempt && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer mx-auto">
            <mat-dialog-actions>
                <button mat-button [mat-dialog-close]="true" (click)="onSubmit()">Update</button>
                <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
                <button mat-button [mat-dialog-close]="true">Close</button>
            </mat-dialog-actions>
            <!-- <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-6">Update Product</button>
            <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-6" (click)="reset()">Reset</button> -->
        </div>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Update</button>
  The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions> -->