<mat-dialog-content>
    <form [formGroup]="registerForm" #reg="ngForm">
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> First name </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="firstname" class="form-control" formControlName="firstname" ngModel [ngClass]="{ 'is-invalid': formSubmitAttempt && f().firstname.errors }">
                <div *ngIf="formSubmitAttempt && f().firstname.errors" class="invalid-feedback">
                    <div *ngIf="f().firstname.errors.required">
                        First name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Last name </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="lastname" class="form-control" ngModel formControlName="lastname" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().lastname.errors }">
                <div *ngIf="formSubmitAttempt && f().lastname.errors" class="invalid-feedback">
                    <div *ngIf="f().lastname.errors.required">
                        Last name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Username </label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" ngModel formControlName="username" id="username" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().username.errors }">
                <div *ngIf="formSubmitAttempt && f().username.errors" class="invalid-feedback">
                    <div *ngIf="f().username.errors.required">
                        Username is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Password </label>
            </div>
            <div class="col-md-9">
                <input type="password" id="password" class="form-control" ngModel formControlName="password" required
                    [ngClass]="{ 'is-invalid': formSubmitAttempt && f().password.errors }">
                <div *ngIf="formSubmitAttempt && f().password.errors" class="invalid-feedback">
                    <div *ngIf="f().password.errors">
                        Password is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Email </label>
            </div>
            <div class="col-md-9">
                <input type="email" id="email" class="form-control" ngModel formControlName="email" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().email.errors }">
                <div *ngIf="formSubmitAttempt && f().email.errors" class="invalid-feedback">
                    <div *ngIf="!!f().email.errors">
                        Email is required
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Role </label>
            </div>
            <div class="col-md-9">
                <select class="form-control" formControlName="roleSelect" name="roleSelect" id="roleSelect">
                    <option value="" disabled>--Select a Role--</option>
                    <option *ngFor="let role of roleStatus" [ngValue]="role">
                        {{ role }}
                    </option>
                </select>
                <div *ngIf="formSubmitAttempt && f().roleSelect.errors || f().roleSelect.touched" class="invalid-feedback">
                    <div *ngIf="f().roleSelect.errors || f().roleSelect.touched">
                        Role is required
                    </div>
                </div>
            </div>
        </div>


        <div class="row card-footer">
            <div class="col-sm-4 offset-sm-2 col-md-3 offset-md-4">
                <button type="submit" id="addProduct" class="btn btn-info btn-fill w-100" (click)="onSubmit()">
                    Register
                </button>
            </div>
            <div class="col-sm-4 offset-sm-1 col-md-3 offset-md-1">
                <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill w-100" (click)="reset()">
                    Reset
                </button>
            </div>
        </div>
        <br>
        <div *ngIf="showError" class="err-msg">
            {{ message }}
        </div>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Update</button>
  The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions> -->