<mat-dialog-content>
    <form [formGroup]="registerForm" #reg="ngForm">
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> First name </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="firstname" class="form-control" formControlName="firstname"  [ngClass]="{ 'is-invalid': formSubmitAttempt && f().firstname.errors }">
                <div *ngIf="formSubmitAttempt && f().firstname.errors" class="invalid-feedback">
                    <div *ngIf="f().firstname.errors.required">
                        First name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Last name </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="lastname" class="form-control"  formControlName="lastname" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().lastname.errors }">
                <div *ngIf="formSubmitAttempt && f().lastname.errors" class="invalid-feedback">
                    <div *ngIf="f().lastname.errors.required">
                        Last name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Username </label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control"  formControlName="username" id="username" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().username.errors }">
                <div *ngIf="formSubmitAttempt && f().username.errors" class="invalid-feedback">
                    <div *ngIf="f().username.errors.required">
                        Username is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Email </label>
            </div>
            <div class="col-md-9">
                <input type="email" id="email" class="form-control"  formControlName="email" [ngClass]="{ 'is-invalid': formSubmitAttempt && f().email.errors }">
                <div *ngIf="formSubmitAttempt && f().email.errors" class="invalid-feedback">
                    <div *ngIf="!!f().email.errors">
                        Email is required
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3 text-md-right">
                <label class="control-label required"> Role </label>
            </div>
            <div class="col-md-9">
                <select class="form-control" formControlName="role" name="roleSelect" id="roleSelect">
                    <option value="" disabled>--Select a Role--</option>
                    <option *ngFor="let role of roleStatus" [ngValue]="role">
                        {{ role }}
                    </option>
                </select>
                <div *ngIf="formSubmitAttempt && f().roleSelect.errors || f().role.touched" class="invalid-feedback">
                    <div *ngIf="f().roleSelect.errors || f().role.touched">
                        Role is required
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div *ngIf="showError" class="err-msg">
            {{ message }}
        </div>
        <div class="modal-footer mx-auto">
            <mat-dialog-actions>
                <button mat-button [mat-dialog-close]="true" (click)="onSubmit()">Update</button>
                <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
                <button mat-button [mat-dialog-close]="true">Close</button>
            </mat-dialog-actions>
            <!-- <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-6">Update Product</button>
                        <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-6" (click)="reset()">Reset</button> -->
        </div>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Update</button>
  The mat-dialog-close directive optionally accepts a value as a result for the dialog.
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions> -->