<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-5 mx-auto">
              <div class="card">
                  <div class="card-header ">
                      <h4 class="card-title">Employee Registration</h4>
                  </div>
                  <div class="card-body">
                      <form novalidate [formGroup]="registerForm">
                          <!-- <fieldset formGroupName="inventory"> -->
                          <div class="form-group" [ngClass]="displayFieldCss('username')">
                              <label class="col-sm-4 col-md-4 control-label required"> Username </label>
                              <div class="col-sm-12">
                                  <input type="text" id="username" class="form-control" formControlName="username"
                                      required>
                                  <!-- <app-field-error-display [displayError]="isFieldValid('itemNumber')" errorMsg="Item ID is required">
                                  </app-field-error-display> -->
                              </div>
                          </div>
                          <div class="form-group" [ngClass]="displayFieldCss('password')">
                              <label class="col-sm-4 control-label"> Password </label>
                              <div class="col-sm-12">
                                  <input type="password" class="form-control" formControlName="password" required>
                                  <!-- <app-field-error-display [displayError]="isFieldValid('productName')" errorMsg="Product name is required">
                                  </app-field-error-display> -->

                              </div>
                          </div>
                          <div class="card-footer">
                              <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-6"
                                  (click)="onSubmit()">Submit</button>
                              <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-6"
                                  (click)="reset()">Reset</button>
                          </div>
                          <!-- <pre>{{registerForm.value | json}}</pre> -->

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>