<div class="main-content">
<div class="container-fluid">
  <mat-card>
    <mat-card-content class="row table-wrapper-scroll-y">

      <form>
        <div class="row mx-auto">
          <div class="col-sm-6">
            <select #field name="field" class="form-control">
              <option value="name">Name</option>
              <option value="origin">Origin</option>
              <option value="location">Location</option>
              <option value="date_arrived">Arrival Date</option>
              <option value="expiry_date">Expiry Date</option>
              <option value="sale_price">Sale Price</option>
              <option value="sold_weight">Sold Weight</option>
            </select>
          </div>
          <div class="col-sm-6">
              <input style="height:100%" #query name="query" class="form-control" placeholder="Search">
          </div>
          </div>
          <div class="row mx-auto">
            <div class="col-auto">
              <button class="btn btn-primary" type="submit" (click)="onSearch()">
                Search
              </button>
              </div>
              <div class="col-sm-6">
              <button class="btn btn-primary" type="submit" (click)="resetData()">
                Reset
              </button>
              </div>
          </div>


            <div>

          </div>
      </form>


      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              Select
            </th>
            <td mat-cell *matCellDef="let row">
              <section class="example-section"></section>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null">
              </mat-checkbox>
              </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.name }}</a>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.origin
                }}</a> </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.location
                }}</a> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="date_arrived">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Date </th>
            <td #status mat-cell *matCellDef="let element"><a>{{ element.date_arrived | date: 'dd/MM/yyyy' }}</a>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="expiry_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.expiry_date | date: 'dd/MM/yyyy' }}</a> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="sale_price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Price </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.sale_price }}</a> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="total_weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"><a> {{ element.total_weight }}</a> </td>
          </ng-container>

          <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modify</th>
            <td mat-cell *matCellDef="let element">
              <a id="editBtn"
                class="btn btn-warning btn-link btn-icon btn-md edit"
                (click)="populateFields(element.item_id)"
              >
                <i class="fa fa-edit"></i>
              </a>
              <a id="deleteBtn"
                class="btn btn-danger btn-link btn-icon btn-md remove"
                (click)="removeSelectedRows()"
              >
                <i class="fa fa-times"></i>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times</button>
        <h5 class="modal-title">Edit Item</h5>
      </div>

      <div class="modal-body">
        <form [formGroup]="form" #updateInventory="ngForm" (ngSubmit)="onSubmit(updateInventory)">
          <br>

          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Item ID </label>
              <div class="col-sm-8 mx-auto">
                  <input type="string" class="form-control" id="item_id" formControlName="item_id" required *ngIf="curField"
                  [ngModel]="curField.item_id" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.item_id.errors }" disabled>
                <div *ngIf="formSubmitAttempt && f.item_id.errors" class="invalid-feedback">
                  <div *ngIf="f.item_number.errors.required">Item number is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Item Name </label>
              <div class="col-sm-8 mx-auto">
                <input type="text" id="name" class="form-control" formControlName="name" required *ngIf="curField"
                  [ngModel]="curField.name" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.name.errors }">
                <div *ngIf="formSubmitAttempt && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Item name is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Origin of Product </label>
              <div class="col-sm-8 mx-auto">
                <input type="text" class="form-control" id="productOrigin" formControlName="origin" placeholder="State, Country (E.g. ON, Canada)"
                  *ngIf="curField" [ngModel]="curField.origin" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.origin.errors }">
                <div *ngIf="formSubmitAttempt && f.origin.errors" class="invalid-feedback">
                  <div *ngIf="f.origin.errors.required">Product origin is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Date of Arrival </label>
              <div class="col-sm-8 mx-auto">
                <input #formDate type="date" class="form-control" formControlName="date_arrived" id="date_arrived" required name="dp1"
                  ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" *ngIf="curField" [ngModel]="curField.date_arrived"
                  [ngClass]="{ 'is-invalid': formSubmitAttempt && f.date_arrived.errors }">
                <div *ngIf="formSubmitAttempt && f.date_arrived.errors" class="invalid-feedback">
                  <div *ngIf="f.date_arrived.errors.required">Arrival date is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Weight </label>
              <div class="col-sm-8 mx-auto">
                <input type="number" class="form-control" id="totalWeight" formControlName="total_weight" required
                  *ngIf="curField" [ngModel]="curField.total_weight" [ngClass]="{ 'is-invalid': formSubmitAttempt && f.total_weight.errors }">
                <div *ngIf="formSubmitAttempt && f.total_weight.errors" class="invalid-feedback">
                  <div *ngIf="f.total_weight.errors.required">Total weight is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Price </label>
              <div class="col-sm-8 mx-auto">
                <input type="number" class="form-control" id="price" formControlName="price" required *ngIf="curField"
                  [ngModel]="curField.price">
                <div *ngIf="formSubmitAttempt && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">Price is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Device ID </label>
              <div class="col-sm-8 mx-auto">
                <input type="text" class="form-control" id="monitoredBy" formControlName="device_id" required disabled *ngIf="curField"
                  [ngModel]="curField.device_id">
                <div *ngIf="formSubmitAttempt && f.device_id.errors" class="invalid-feedback">
                  <div *ngIf="f.device_id.errors.required">Monitored By is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-2 col-md-3 control-label mx-auto"> Location </label>
              <div class="col-sm-8 mx-auto">
                <input type="text" class="form-control" id="location" formControlName="location" placeholder="Aisle No."
                  required *ngIf="curField" [ngModel]="curField.location">
                <div *ngIf="formSubmitAttempt && f.location.errors" class="invalid-feedback">
                  <div *ngIf="f.location.errors.required">Location is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer mx-auto">
            <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-6">Update Product</button>
            <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-6" (click)="reset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
</div>