#btnSearch{
  padding-right: 10px
}

img{
    height: 400px;
    width: 400px
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%
}

.example-full-width {
  width: 100%
}

table {
  width: 100%
}

td a {
    color: black;
    text-decoration: none;
    display: block
}

th.mat-sort-header-sorted {
  color: black
}

.yellow{
  background-color: yellow
}

.green{
 background-color: green
}

.red{
 background-color: red
}

.control-label.required:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px
  }

