<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="places-sweet-alerts">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Add Product</h4>
                        </div>
                        <div class="card-body">

                            <form [formGroup]="form" #addInventory="ngForm">
                                <br>

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Item ID </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input #uuid type="string" class="form-control" [ngModel]="itemUuidgen" id="item_id" formControlName="item_id" required
                                                disabled>
                                            <!-- <div *ngIf="formSubmitAttempt && f().item_id.errors" class="invalid-feedback">
                                                <div *ngIf="f().item_number.errors.required">Item number is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Item Name </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="text" id="name" class="form-control" formControlName="name" required >
                                            <!-- <div *ngIf="f().name.errors" class="invalid-feedback">
                                                <div *ngIf="f().name.errors.required">Item name is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Origin of Product </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="text" class="form-control" id="productOrigin" formControlName="origin" placeholder="State, Country (E.g. ON, Canada)"
                                                >
                                            <!-- <div *ngIf="f().origin.errors" class="invalid-feedback">
                                                <div *ngIf="f().origin.errors.required">Product origin is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Date of Arrival </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input #formDate type="date" class="form-control" formControlName="date_arrived" id="date_arrived"
                                                required name="dp1" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" >
                                            <!-- <div *ngIf="f().date_arrived.errors" class="invalid-feedback">
                                                <div *ngIf="f().date_arrived.errors.required">Arrival date is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Weight </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="number" class="form-control" id="totalWeight" formControlName="total_weight" required
                                                >
                                            <!-- <div *ngIf="f().total_weight.errors" class="invalid-feedback">
                                                <div *ngIf="f().total_weight.errors.required">Total weight is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Price </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="number" class="form-control" id="price" formControlName="price" required>
                                            <!-- <div *ngIf="f().price.errors" class="invalid-feedback">
                                                <div *ngIf="f().price.errors.required">Price is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Device ID </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="text" class="form-control" id="monitoredBy" [ngModel]="deviceUuidgen" formControlName="device_id" required disabled>
                                            <!-- <div *ngIf="f().device_id.errors" class="invalid-feedback">
                                                <div *ngIf="f().device_id.errors.required">Monitored By is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 col-md-3 control-label mx-auto"> Location </label>
                                        <div class="col-sm-8 mx-auto">
                                            <input type="text" class="form-control" id="location" formControlName="location" placeholder="Aisle No."
                                                required>
                                            <!-- <div *ngIf="f().location.errors" class="invalid-feedback">
                                                <div *ngIf="f().location.errors.required">Location is required</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mx-auto">
                                    <button type="submit" id="addProduct" class="btn btn-info btn-fill col-sm-6 col-md-3" (click)="onSubmit()">Add Product</button>
                                    <button type="submit" id="cancelProduct" class="btn btn-danger btn-fill col-sm-6 col-md-3" (click)="reset()">Reset</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>